* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #0D1117;
    --text: #C9D1D9;
    --text-secondary: #8B949E;
    --highlight: #00FF9F;
    --link: #58A6FF;
    --error: #FF5555;
    --hover-bg: #161B22;
    --border: #30363D;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background: var(--hover-bg);
    padding: 20px;
    gap: 50px;
}

h2 {
    color: var(--text);
    text-align: center;
    filter: drop-shadow(0 2px 10px var(--highlight));
    animation: pulseTitulo 2s infinite;
}
@keyframes pulseTitulo {
    0% {
        filter: drop-shadow(0 2px 10px rgba(0, 255, 157, 0.5));
        
    }

    50% {
        filter: drop-shadow(0 2px 10px rgba(0, 255, 157, 0.911));
        
    }

    100% {
        filter: drop-shadow(0 2px 10px rgba(0, 255, 157, 0.5));
        
    }
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    max-width: 400px;
    min-width:350px;
    margin: 0 auto;
    background-color: var(--bg);
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 10px var(--highlight);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px rgba(0, 255, 157, 0.5);
        
    }

    50% {
        box-shadow: 0 0 20px rgba(0, 255, 157, 0.938);
        
    }

    100% {
        box-shadow: 0 0 10px rgba(0, 255, 157, 0.562);
        
    }
}

li {
    background: var(--hover-bg);
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 5px var(--link);
    display: flex;
    align-items: center;
    color: var(--text-secondary);
}
li:hover{
    animation: mecher 2s infinite;
}
@keyframes mecher{

    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(0.5deg);
    }
    100%,0%{
        transform: rotate(-0.5deg);
    }

    
}

input[type="checkbox"] {
    margin-right: 10px;
    accent-color: var(--error);
}