* {
    font-family: Georgia;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(fundo_pagina_web_1920x1080.jpg);
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;




}

.navegador {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(rgba(224, 214, 75, 0.589), rgba(83, 83, 190, 0.534));
    height: 100vh;
    width: 50px;
    overflow: hidden;
    transition: 0.9s;
    position: fixed;
    left: 0;
    top: 0;

}



.navegador:hover {
    width: 150px;
}

.cadastro {
    background-color: rgba(0, 0, 0, 0);
    border: none;


}

.cadastro>i {
    font-size: 30px;
    cursor: pointer;


}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    margin-top: 20px;
    padding: 5% 5px;
    cursor: pointer;

}

.menu:hover {
    background-color: rgb(231, 199, 95);
}

#iconeMenu {
    color: rgb(0, 0, 0);
    font-size: 30px;

}

.opçao {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    cursor: pointer;
    padding: 5% 5px;
    transition: 0.4s;
    background-color: rgba(240, 248, 255, 0);

}

.opçao:hover {
    background-color: rgb(231, 199, 95);
}

.conteiner {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px;



}

.conteudoConteinerLista {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 50%;
    gap: 8px;
    
    
    


}

.usuario {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    gap: 10px;
    background-color: rgba(73, 61, 61, 0.178);
    border: none;
    width: 300px;
    height: 150px;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -5px 5px 20px  rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(3px);
    transform: rotate(-30deg) skew(25deg);

    button {
        width: 30px;

    }

}
.usuario:hover{
    box-shadow: -5px 5px 20px -8px rgba(0, 0, 0, 0.692),
    inset -5px 5px 20px -2px rgba(0, 0, 0, 0.692);
    scale: 1.10;
}

.conteinerCadastro {
    display: none;
    flex-direction: column;
    height: 100%;
    gap: 8px;


}

.conteudoCadastro {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    width: 300px;
    gap: 10px;
    align-items: center;
    background-color: rgba(73, 61, 61, 0.178);
    border: none;
    padding: 30px;
    border-radius: 5px 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(3px);

    input {
        border: none;
        box-shadow: 0 0 5px black;
        border-radius: 5px;
        height: 23px;
        padding: 3px;
    }
}


#Salvar {
    width: 110px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
    border-radius: 5px;
    height: 23px;
    background-color: rgba(240, 255, 240, 0.185);
    transition: 0.4s;
    backdrop-filter: blur(15px);

}

#Salvar:hover {
    transform: scale(1.03);

}

.conteinerHome {
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-left: 20px;
}

.conteudoHome {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
    margin-top: 5%;
    flex-wrap: wrap;
    background-color: rgba(73, 61, 61, 0.178);
    border: none;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(3px);

}

#infoCadastro {
    color: red;
}

.buttonEdit {

    background-color: #33333300;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    border-radius: 10%;
}
.buttonEdit:hover{
    scale: 1.10;
}

.buttonEdit>i {
    color: #063606;
    font-size: 15px;
}

.buttonDelet {
    background-color: #33333300;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px black;
    border-radius: 10%;

}
.buttonDelet:hover{
    scale: 1.10;
}

.buttonDelet>i {
    color: #8b0404;
    font-size: 15px;
}

.conteudoEditar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100%; */

}

.editarForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border: none;
    padding: 15px;
    border-radius: 5px 20px;
    background-color: aliceblue;
    box-shadow: 5px 5px 10px black;
    height: 200px;
    width: 200px;


    input {
        padding: 6px;
        border-radius: 6px;
    }

}

#nomeEditar {
    border: none;
    color: #000000;
}

#SalvarEditar {
    width: 110px;
    color: aliceblue;
    border-radius: 6px;
    background-color: #0c0c0bfa;

}

.buttonX {
    align-self: flex-end;
    border: none;
}

.editarI {
    background-color: #000000;
    border-radius: 4px;

}

.editarI>i {
    font-size: 15px;
    color: #f7f1f1;
}

.conteinereditar {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #0000007c;
    backdrop-filter: blur(3px);
    z-index: 100;
    width: 100%;
    height: 100%;
}