body {
    background-color: #000000;
}

* {
    font-family: Georgia;
}

#cabesario {
    height: 70px;
}

.estrutura {
    border: solid 1px #222222;
    text-align: center;
    padding-top: 15px;
    width: 400px;
    height: 40px;
    margin: auto;
    background-color: #222222;
    overflow: hidden;
    border-radius: 30px;
    transition: 0.6s ease-in-out;;
   
    

}

.estrutura:hover {
    border: solid 1px #1DcD9F;
    border-radius: 12px;
    width: 430px;
    height: 40px;
}

.buttons {
    border: none;
    background: #222222;
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;

}

.buttons:hover {
    color: #1DcD9F;
    cursor: pointer;

}


.Interfase {
    height: 480px;
    width: 600px;
    border: solid 1px #169976;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px 30px;
    background-color: #2c2c3e;
    overflow: hidden;
    position: relative;
    z-index: 0;


}

.listaVoos {
    display: block;
}

.cadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    background-color: #222222;
    display: none;
    color: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    height: 100%;
    overflow: hidden;
    transition: 0.8s ease-in-out;


    .salvar {

        background: #333;
        color: #fff;
        padding: 5px 10px;
        border-radius: 8px;
        margin: 10px;


    }

    .salvar:hover {
        color: #1DcD9F;
        transform: scale(1.01);
        cursor: pointer;
    }



    .painel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        align-items: center;
        margin-top: 30px;
        border: solid 1px #169976;
        width: 40%;
        border-radius: 10px 20px;
        background-color: #000000;
        transition: 0, 4s ease-in-out;
        filter: drop-shadow(5px 5px 1px #000000);
        color: #1DcD9F;
        overflow: hidden;
        padding: 15px;
    }

    input {
        margin: 5px;
        

        color: #000000;
    }

    #resp {
        color: red;
        font-size: 13px;
    }
}


.editor {
    display: none;
}

.excluir {
    display: none;
}