body {
    background-color: aquamarine;
}

#regras {
    border: solid 3px black;
    border-radius: 10px;
    width: 400px;
    padding: 10px;
    margin: auto;
}

#interaçao {
    border: solid 2px black;
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

#resultado {
    border: solid;
    overflow: hidden;
}