body {
    background-color: #0B132B;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: aliceblue;
    
}
*{
    font-family: Georgia;
}

.conteinerLista {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 5px;
    max-width: 630px;
    overflow: hidden;


}

.itemDaLista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #5BC0BE;
    max-height: 500px;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;



}

.valorDoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #5BC0BE;
    max-height: 500px;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;

}

.excluirItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid #5BC0BE;
    max-height: 500px;
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    overflow: hidden;

    button {
        height: 33.5px;
        width: 33px;
        border-radius: 4px;
        background-color: #1C2541;
    }

}

.Linhas {
    display: flex;
    border: 1px solid #5BC0BE;
    padding: 5px;
    gap: 5px;
    border-radius: 5px;
    overflow: hidden;

}

.inputList {
    border: none;
}

#adicionarTarefas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border: 1px solid #5BC0BE;
    width: 250px;
    border-radius: 0px 0px 15px 15px;
    overflow: hidden;
    ::placeholder {
        color: aliceblue
    }

    input {
        width: 120px;
        background-color: #3A506B;
        color: aliceblue;
        border: 1px solid;
        padding: 5px;
        border-radius: 5px;
    }

    button {
        width: 80px;
        height: 30px;
        border-radius: 7px;
        background-color: #1C2541;
        color: aliceblue;
    }
}

#parteSuperior {
    background-color: #3A506B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #5BC0BE;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    box-shadow: 0px 0px 5px #5BC0BE;


}

#parteInferior {
    background-color: #3A506B;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid #5BC0BE;
    padding-bottom: 10px;
    width: 650px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #5BC0BE;
    overflow: hidden;

    input {
        text-align: center;
        background-color: #3A506B;
        color: aliceblue;
        border: none;

    }

    input:focus {
        border: 1px solid aliceblue;
    }

}

.somaFinal {
    border: 1px solid;
    padding: 10px;
    width: 300px;
    border-radius: 15px;
    text-align: center;
    overflow: hidden;

}