* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #0D1117;
    --text: #C9D1D9;
    --text-secondary: #8B949E;
    --highlight: #00FF9F;
    --link: #58A6FF;
    --error: #FF5555;
    --hover-bg: #161B22;
    --border: #30363D;
}


header {
    background-color: var(--hover-bg);
    border: 1px solid var(--border);
    color: var(--text);
    padding: 1rem;
    text-align: center;
}

nav {
    margin-top: 1rem;
}

nav button {
    margin: 0.2rem;
    padding: 0.5rem 1rem;
    background-color: #005fa3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.text {
    display: flex;
    justify-content: center;
    background-color: var(--bg);

}

.card {
    margin-top: 50px;
    position: relative;
    width: 320px;
    height: 290px;
    background: var(--hover-bg);
    border-radius: 12px;
    box-shadow: 0 0px 5px var(--link);
    border: 1px solid var(--border);
    overflow: hidden;
    color: var(--text-secondary);
}

.card h2 {
    margin: 20px;
}

.infosContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(79%);
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.infosCard {
    background-color: var(--hover-bg);
    padding: 15px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--text-secondary);

    button {
        background-color: var(--highlight);
        color: var(--bg);
        height: 30px;
        border-radius: 5px;
        width: 40%;

    }
}

.verMais {
    background-color: var(--highlight);
    color: var(--bg);
    padding: 10px 20px;
    text-align: center;
    border-radius: 12px 12px 0 0;
    cursor: pointer;
    width: 50%;
}



.exerc001 {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: #0000007c;
    backdrop-filter: blur(3px);
    z-index: 100;
    width: 100%;
    height: 100%;

}

.exercicio01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 1px solid black;
    gap: 5px;
    background-color: rgba(0, 255, 255, 0);
    width: 50%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;


    .Produto-para-procurar {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: solid 1px;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: var(--hover-bg);
        box-shadow: 0 0 10px var(--border);
        color: var(--text);

        p {
            color: var(--highlight);
        }


        input {
            width: 100px;
            height: 20px;
            border-radius: 5px;
            text-align: center;
        }

        button {
            background-color: var(--highlight);
            color: var(--bg);
            width: 80px;
            height: 25px;
        }

        .buttonVoltar {
            margin: 0 0 0 140px;

            button {
                width: 22px;
                height: 19px;
            }
        }
    }

    .Produto {
        border: solid 1px;
        border-radius: 20px;
        width: 40%;
        height: 100px;
        height: 250px;

    }

    .Lista-produto {
        display: flex;
        flex-direction: column;
        border: solid 1px;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--hover-bg);
        color: var(--text);
        padding: 1rem;
        box-shadow: 0 0 10px;
        color: var(--text);

        button {
            background-color: var(--highlight);
            color: var(--bg);
            height: 2rem;
            width: 3rem;

        }



    }

    .produtos-Loja {
        width: 99%;
        text-align: center;



    }

}

.exercicio02 {
    background-color: var(--bg);
    box-shadow: 0 0 10px var(--link);
    border: solid 1px var(--border);
    padding: 10px;
    width: 40%;
    height: 60%;

    button {
        height: 25px;
        width: 100px;
        background-color: var(--highlight);
        color: var(--bg);
    }
    .buttonVoltar > button{
        width: 30px;
        background-color: var(--highlight);
        color: var(--bg);
        border-radius: 6px;
    }

    .statusLivro {

        button {
            background-color: var(--highlight);
            color: var(--bg);
            height: 2rem;
            width: 3rem;

        }

        color: var(--text);
        padding: 10px;
        width: 100%;
        height: 50%;
        
        margin: 0 0 6px 0;
    }
}

.exercicio03 {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border);
    color: var(--text);
    padding: 10px;
    gap: 5px;
    background-color: var(--bg);
    box-shadow: 0 0 10px var(--link);
    
    button {
        background-color: var(--highlight);
        color: var(--bg);
        border-radius: 6px;
    }
    .buttonVoltar > button{
        width: 30px;
        background-color: var(--highlight);
        color: var(--bg);
        border-radius: 6px;
    }

    .Temperatura {
        border: 1px solid var(--border);
        box-shadow: 0 0 5px var(--link);
        width: 40%;
        padding: 1rem;
        border-radius: 5px;
        overflow: hidden;




    }

    .cont-input-buttons-temp {

        button {
            height: 30px;
            width: 200px;
            border-radius: 6px;
        }

    }

}

.exercicio04 {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
    border: solid 1px var(--border);
    padding: 10px;
    gap: 5px;
    
    button{
        background-color: var(--highlight);
        color: var(--bg);
        
    
    }
    .buttonVoltar > button{
        width: 30px;
        background-color: var(--highlight);
        color: var(--bg);
        border-radius: 6px;
    }

    
    .cont-Agenda {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 15px;
        color: var(--text);
        padding: 1rem;
        

    }

    .cont-list-contatos {
        display: flex;
        flex-direction: column;
        border-radius: 2px;
        padding: 3px;
        height: 250px;
        overflow: auto;
        color: var(--text);
        
        

    }

    .cont-list-contatos-titulo {
        border: 1px solid var(--border);
        padding: 3px;
        border-radius: 5px;
        background-color: var(--hover-bg);
        box-shadow: 0 0 5px var(--link);
    }

    .removerContato {
        display: flex;
        flex-direction: column;
        padding: 7px;
        gap: 5px;
        border: solid 1px var(--border);
        border-radius: 5px;
        align-items: center;
        box-shadow: 0 0 5px var(--link);

        input {
            width: 70%;
            border-radius: 5px;
            height: 18px;
        }

        button {
            background-color: var(--highlight);
        color: var(--bg);
            width: 50%;
            height: 25px;
            border-radius: 5px;

        }
    }

    .AdicionarContato {
        display: flex;
        flex-direction: column;
        padding: 7px;
        gap: 5px;
        border: solid 1px var(--border);
        border-radius: 5px;
        align-items: center;
        box-shadow: 0 0 5px var(--link);

        input {
            width: 70%;
            border-radius: 5px;
            height: 18px;
        }

        button {
            background-color: var(--highlight);
        color: var(--bg);
            width: 50%;
            height: 25px;
            border-radius: 5px;

        }

    }
    

}

.exercicio05 {
    display: flex;
    flex-direction: column;
    border: solid 1px var(--border);
    padding: 10px;
    gap: 5px;
    background-color: var(--bg);
    width: 30%;
    height: 40%;
    box-shadow: 0 0 5px var(--link);
    
    .buttonVoltar > button{
        width: 30px;
        background-color: var(--highlight);
        color: var(--bg);
        border-radius: 6px;
    }

    button {
        background-color: var(--highlight);
        color: var(--bg);
        height: 25px;
        border-radius: 3px;
    }
    .info-aluno{
        background-color: var(--hover-bg);
        color: var(--text);
    }
    .aluno-resultado {
        border: solid 1px var(--border);
        padding: 5px;
        border-radius: 5px;
        

    }
    
}

.exercicio06 {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    gap: 5px;
    background-color: #00FF9F;

    .cont-list-contatos-titulo {
        display: flex;
        flex-direction: row;
        gap: 100px;
        border: 1px solid black;
        padding: 10px;
        width: 45%;
        border-radius: 5px;
    }

    .titulo-itens,
    .cont-list-delete,
    .cont-list-valor-itens {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;

    }

    .cont-valor-carrinho {
        border: 1px solid black;
        padding: 1rem;
        border-radius: 5px;

    }

    .item {
        /* border: 1px solid black; */
        width: 100%;
        text-align: center;
    }

    .buttonDelet {
        height: 50px;
    }

    .cont-Agenda {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .resultado-itens {
        display: flex;
        flex-direction: row;
        gap: 5px;

        button {
            height: 35px;
            width: 100px;
            border-radius: 3px;

        }
    }

}

.exercicio07 {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    gap: 5px;
    background-color: var(--highlight);


    .lista-de-alunos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;


    }

    .todos-alunos {
        display: none;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
        width: 30%;
        padding: 5px;
        border-radius: 5px;


        .buttonAprovados {
            height: 35px;
            width: 200px;
            border-radius: 5px;
        }

        #todosOsAlunos {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    .alunos-aprovados {
        display: none;
        flex-direction: column;
        align-items: center;
        border: 1px solid;
        width: 30%;
        padding: 5px;
        border-radius: 5px;

        .buttonAprovados {
            height: 35px;
            width: 200px;
            border-radius: 5px;
        }

        #alunosAP {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }


    }

    .button-mostrar-alunos {

        width: 100px;
        height: 35px;
        border-radius: 5px;
    }

}

.exercicio08 {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 10px;
    gap: 5px;
    background-color: #00FF9F;

}